{% extends 'base2.html.twig' %}



{% block title %}New Candidat{% endblock %}

{% block body %}
    <h1>Create new Candidat</h1>

    {{ include('candidat_front/_form.html.twig') }}
<div class="form-group mt-3">
    <a  class="button button-contactForm boxed-btn" href="{{ path('candidatfront_index') }}">back to list</a>
</div>
{% endblock %}
